h1, .navbar-brand {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

nav a:visited, nav a:active, nav a {
  color:white;
}

nav a:hover {
  color: #a8a7a7 !important;
}

.library-background {
  background-image: url("./resources/elfaro-banner.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.library-background p, .library-background h1 {
  color: white;
  text-shadow: 3px 3px black;
}

.library-background p {
  text-shadow: 2px 2px black;
}

.button-spacing {
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.logo {
  height: 265px;

  display: flex;
  align-items: center;
}